name: Languages Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 * * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: SanJoao
          template: classic
          base: ""
          config_timezone: America/Bogota
          filename: github-metrics-languages.svg
          
          # Languages - In-depth analysis
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_details: lines, percentage
